/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
/* CSS Reset */

/* Body */
body {
  font-family: "Golos Text", sans-serif;
  background: linear-gradient(to bottom, #fbf6f6, #eac4d5, #c6d8f3);
}

/* Header */
header {
  padding-inline: 10vw;
  border-bottom: 2px solid #171717;
  position: fixed;
  width: 100%;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
}

header nav ul {
  display: flex;
  gap: 1rem;
}

header nav ul li a {
  text-decoration: none;
  color: #171717;
}

.get-started {
  width: 11rem;
  height: 3rem;
  background-color: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;
  color: #fefefe;
  gap: 0.5rem;
  margin-left: 1.5rem;
  text-decoration: none;
}

/* Hero */
.hero {
  height: 100vh;
  width: 100vw;
  padding-inline: 10vw;
  padding-top: 25vh;
}

.hero-links {
  margin-block: 10rem 1rem;
}

.know-more {
  margin-left: 1rem;
  text-decoration: underline;
  color: #171717;
}

.know-more i {
  margin-left: 0.5rem;
  vertical-align: -1px;
}

.call-back {
  text-decoration: none;
  color: #fefefe;
  background-color: #171717;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;
  height: 3rem;
  gap: 2rem;
  padding-inline: 1.5rem 4px;
}

.call-back span {
  background-color: #fefefe;
  color: #171717;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  font-size: 11rem;
  text-transform: uppercase;
  line-height: 0.8;
  position: relative;
}

.free {
  position: absolute;
  overflow: hidden;
  animation: free 6s linear infinite;
}

.lancer {
  position: absolute;
  overflow: hidden;
  animation: lancer 6s linear infinite;
}

@keyframes free {
  0% {
    width: 60%;
  }

  25% {
    width: 60%;
  }

  50% {
    width: 0%;
  }

  75% {
    width: 60%;
  }

  100% {
    width: 60%;
  }
}

@keyframes lancer {
  0% {
    width: 100%;
  }

  25% {
    width: 0%;
  }

  50% {
    width: 0;
  }

  75% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
  
}


